---
- name: "Install prerequisite of caffe."
  apt: pkg={{ item }} state="present"
  with_items:
    - libprotobuf-dev
    - libleveldb-dev
    - libsnappy-dev
    - libopencv-dev
    - libboost-all-dev
    - libhdf5-serial-dev
    - libgflags-dev
    - libgoogle-glog-dev
    - liblmdb-dev
    - protobuf-compiler
